.name {
  background-color: darkgrey;
}
.container {
  background-color: aquamarine;
}
.day {
  background-color: deepskyblue;
}
.number {
  background-color: blueviolet;
}
.time {
  background-color: darkorange;
}
.class {
  background-color: aqua;
}

.myself {
  background-color: cornflowerblue;
}
.information {
  background-color: cadetblue;
}
